{% extends "base.html" %}

{% load markup wiki_tags %}

{% block extra_head %}
<link href="{{ MEDIA_URL }}css/vz_wiki.css" rel="stylesheet">
{% endblock %}

{% block content_title %}
{{ wikipage.title }} &gt; #{{ comparison.rev1.pk }} vs. #{{ comparison.rev2.pk }}
{% endblock %}

{% block vz_wiki_page_menu %}
<li><a href="{% url wikipage_detail wikipage.slug %}" title="return to wiki page">Return to Page</a></li>
<li><a href="{% url wikipage_history wikipage.pk %}" title="return to wiki page">Return to Page History</a></li>
{% endblock %}

{% block content %}
{{ comparison.diff_text|sanitize:'ins:title:style del:title:style br'|markdown }}
{% endblock %}
