{% extends "base.html" %}

{% load markup wiki_tags tagging_tags %}

{% block content_title %}
    {% ifnotequal page.title 'index' %}
{{ wikipage.title|title }}
    {% endifnotequal %}
{% endblock %}

{% block vz_wiki_page_menu %}
    {% if perms.wikipage.can_change and wikipage.is_editable and not wikipage.is_checked_out %}
<li><a href="{% url edit_wikipage wikipage.pk %}" title="edit this page">Edit This Page</a></li>
    {% endif %}
    {% if wikipage.is_checked_out %}
        {% ifequal wikipage.who_checked_out user %}
<li><a href="{% url edit_wikipage wikipage.pk %}" title="continue editing page">Continue Editing Page</a></li>
        {% endifequal %}
    {% endif %}
<li><a href="{% url wikipage_history wikipage.pk %}" title="page history">Page History</a></li>
{% endblock %}

{% block content %}
<div class="page-info alt">
    {% tags_for_object wikipage as tags_list %}
    <p>Tagged: 
    {% for tag in tags_list %}
    <a href="{% url wikipage_tags %}?tags={{ tag|urlize }}" rel="tag" title="{{ tag }}">{{ tag }}</a> 
    {% endfor %}
    </p>
    {% with wikipage.latest_revision as latest_revision %}
    <p>Created on: {{ wikipage.created_on|date }}.  Current version is {{ latest_revision.number }}.</p>
    <p>Page is {% if not wikipage.is_editable %}not{% endif %} editable.</p>
    {% if wikipage.is_checked_out %}
    <p>Page is currently checked out by {{ wikipage.who_checked_out }}.</p>
    {% endif %}
</div>
{{ latest_revision.body|sanitize|wiki_link|markdown }}
    {% endwith %}
{% endblock %}
